<p>
Vivero el Otoño
</p>
<img src="../../../assets/Banner.PNG" class="img-fluid" alt="...">
<br/>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th>#</th>
            <th>Nombre común</th>
            <th>Tipo</th>
            <th>Clima</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of plantas" >
            <td>{{item.id}}</td>
            <td>{{item.nombre_comun}}</td>
            <td>{{item.tipo}}</td>
            <td>{{item.clima}}</td>
          </tr>
        </tbody>
      </table>
      </div>
   </div>
</div>
<p>Total plantas de interior {{plantasInterior}}</p>
<p>Total plantas de exterior {{plantasInterior}}</p>
