<p>
Vivero el Otoño
</p>
<img src="../../../assets/Banner.PNG" class="img-fluid" alt="...">
<br/>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th>#</th>
            <th>Nombre común</th>
            <th>Tipo</th>
            <th>Clima</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Pata de vaca</td>
            <td>Interior</td>
            <td>Templado, calido</td>
          </tr>
        </tbody>
      </table>
      </div>
   </div>
</div>
